@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-green: #00ff99;
  --neon-cyan: #00ffff;
  --neon-yellow: #ffff00;
  --dark-bg: #0a0a0a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--dark-bg);
  color: var(--neon-green);
}
